<div class="jumbotron center ">
    <h1>Welcome Boo boo :3.</h1>
    <p><3</p>
        <% if user_signed_in? %>
         <%= link_to 'Pins', pins_path, class: 'btn btn-primary'%>
         <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-default'%>
        <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary'%> 
            <%= link_to 'Sign Up', new_user_registration_path , class: 'btn btn-default'%>
        <% end %>
</div>
